<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': unPost.loveIts > 0,
                'list-group-item-danger': unPost.loveIts < 0 }">

  <h6 class="pull-right">{{ unPost.created_at | date: 'EEEE d MMMM y, HH:mm' }}</h6>
  <h4>{{ unPost.title }}</h4>
  <h5>{{ unPost.content }}</h5>
  
  <button class="btn btn-success" (click)="onLoveIt()">Love it</button>
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it</button>

  <button class="btn btn-danger pull-right" (click)="onDeletePost()">Supprimer Post</button>
</li>
